@import "https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap";

*{
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #282a36;
  color: white;
  font-family: 'Source Sans Pro', sans-serif;
}

header {
  padding: 32px;
  border-bottom: 1px solid #333;
  background-color: rgba(0,0,0,0.274);

}

.links {
  text-align: center;

}

.links a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  line-height: 28px;
  margin: 0 16px;
  transition: 700ms;
}

.links a:hover {

  padding: 24px;
  background-color: white;
  color: black;
  border-radius: 30px;

}


#wrapper {

  text-align: center;
  padding : 32px;

}
#wrapper img {

  height: 200px;
  border-radius: 50%;
  border: 5px solid #2c5ad8;
  margin-bottom: 32px;
  transition: 700ms;
}

#wrapper img:hover {

  height: 250px;
}

#wrapper h1 {

    font-size: 32px;
    line-height: 42px;
    font-weight: bold; 
}

#wrapper h2 {

  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.8;
}

#wrapper h2 a {

  color: #2c5ad8;
  text-decoration: none;
}

#wrapper p {

  max-width: 500px;
  margin: 20px auto;
  font-size: 16px;

}

#links-footer a{transition: 700ms;}

#links-footer a:hover{

  padding: 32px;
  background-color: white;
  color: black;
  border-radius: 30px;

}

/* ====== CARDS  */

.cards {

  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  gap: 20px;

}

.card {

  background-color: #8667eb;
  border-radius: 20px;
}

.card__image-container img {

  width: 100%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card__content , .card__info{

  padding: 24px;
}

.card__info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card__price {

  background-color: #8667eb;
  filter: brightness(90%);
  padding: 5px 20px;
  border-radius: 20px;
  text-align: center;
}

/* Modal ========== */

.modal-overlay {

  background-color: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
}

.modal {
  background-color: white;
  width: 90%;
  height: 90%;
  margin: 5vh auto;
  position: relative;
  
}

.modal .close-modal {

  color: black;
  position: absolute;
  right: 8px;
  top: 8px;
  cursor: pointer;

}

/* MODAL.ACTIVE */

.modal-overlay.active {

  opacity: 1;
  visibility: visible;
}